//! VARIABLES

$color-principal: #D5B9B2;
$color-letra: black;
$color-hover: #5c3e79;

//! LISTAS

$font-size:
7px,
8px,
9px,
10px,
11px,
12px,
13px,
14px,
15px,
15.7px,
16px,
18px,
20px,
21px,
23px,
24px,
25px,
26px,
30px,
32px,
35px,
40px,
45px,
50px,
60px,
70px,
80px;

$font-weight:
15,
18,
23,
30,
50,
60,
80,
100,
105,
110,
120,
125,
130,
135,
140,
150,
160,
170,
180,
190,
200,
230,
250,
290,
300,
320,
350,
400,
450,
500,
540,
550,
600,
700;

//! MAPAS

$button:(
    fondo-boton:#f1d0c7,
    bordes-boton:1px solid black,
    color-texto:black,
);

//! MIXINS

@mixin flex ($flex, $direction, $justify, $align){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

